@charset "UTF-8";
/* CSS Document */

/*----------------------------------------
TABLE OF CONTENTS:
------------------------------------------*/

/*-------------------
1.0	SETTINGS
---------------------*/

/*-------------------
2.0	TOOLS
---------------------*/

/*-------------------
3.0	GENERIC
---------------------*/

/*-------------------
4.0	ELEMENTS
---------------------*/
/*---FORMS---*/
/*---LISTS---*/
/*---MEDIA---*/
/*---TABLES---*/
/*---TYPOGRAPHY---*/

/*-------------------------
5.0	OBJECTS
---------------------------*/
/*---FRAMEWORK---*/

/*-------------------------
6.0	COMPONENTS
---------------------------*/
/*---BUTTONS---*/
/*---HEADER---*/
/*---NAVIGATION---*/

/*-------------------------
7.0	UTILITIES
---------------------------*/
/*---ALIGNMENT---*/
/*---COLORS---*/
/*---SIZE---*/






/*-------------------
4.0	ELEMENTS
---------------------*/

/*---TYPOGRAPHY---*/

.col-lg-2 p, #features p, footer p {
	font-size: .8rem;
}

html {
	font-family: 'Open Sans', sans-serif;
}


#hero p {
	color: #fff;
}

.txt-ctr {
	text-align: center;
}

#works p {
	font-size: 1.07rem;
}



/*-------------------------
5.0	OBJECTS
---------------------------*/


/*---FRAMEWORK---*/

#hero {
	padding: 10em 0;
}

footer {
	padding: 5em 0;
}
/*-------------------------
6.0	COMPONENTS
---------------------------*/


/*---BUTTONS---*/


/*---HEADER---*/

h2, #hero span {
	color: #0eb493;
}

h2 {
	font-size: 1.7rem;
	font-weight: 900;
	text-transform: uppercase;
}

h3 {
	font-size: 1.1rem;
	color: #062033;
}


/*---NAVIGATION---*/

header nav li {
	display: inline-block;
}

nav a {
	color: #fff;
	text-decoration: none;
	font: .8rem 'Open Sans', sans-serif;
}




/*-------------------------
7.0	UTILITIES
---------------------------*/


/*---ALIGNMENT---*/

.f-right {
	float: right;
}


/*---COLORS---*/

#bg-dk-grn {
	background-color: #10443f;
}

#features {
	background-color: #f4f7f9;
}

#hero {
	background-color: #217566;
}


/*---SIZE---*/




