@charset "UTF-8";
/* CSS Document */

/*----------------------------------------
TABLE OF CONTENTS:
------------------------------------------*/

/*-------------------
1.0	SETTINGS
---------------------*/

/*-------------------
2.0	TOOLS
---------------------*/

/*-------------------
3.0	GENERIC
---------------------*/

/*-------------------
4.0	ELEMENTS
---------------------*/
/*---FORMS---*/
/*---LISTS---*/
/*---MEDIA---*/
/*---TABLES---*/
/*---TYPOGRAPHY---*/

/*-------------------------
5.0	OBJECTS
---------------------------*/
/*---FRAMEWORK---*/

/*-------------------------
6.0	COMPONENTS
---------------------------*/
/*---BUTTONS---*/
/*---HEADER---*/
/*---NAVIGATION---*/

/*-------------------------
7.0	UTILITIES
---------------------------*/
/*---ALIGNMENT---*/
/*---COLORS---*/
/*---SIZE---*/









/*-------------------
4.0	ELEMENTS
---------------------*/

footer {
	padding: 5em 0 15em;
	border-top: .5em solid #10443f;
}

header {
	padding: 1em 0;
}

#features {
	padding: 5em 0;
}

#hero {
	padding: 20em 0 12em;
}

#works {
	padding: 10em 0;
}


/*---TYPOGRAPHY---*/


html {
	font-family: 'Open Sans', sans-serif;
}

h1, #logo p {
	display: inline-block;
}

h2, #hero span {
	color: #0eb493;
}

h2 {
	font-size: 1.7rem;
	font-weight: 900;
	text-transform: uppercase;
}

h3 {
	font-size: 1.1rem;
	color: #062033;
}


h1 {
	margin-top: 0;
}

h3 {
	margin-bottom: 0;
}

.txt-ctr {
	text-align: center;
}







/*-------------------------
5.0	OBJECTS
---------------------------*/


/*---FRAMEWORK---*/




/*-------------------------
6.0	COMPONENTS
---------------------------*/

footer p {
	color: #fff;
}

.col-lg-3:nth-child(2) {
	margin-left: 7.5em;
}


#logo p, #features p, footer p {
	font-size: .8rem;
}

#features p, footer p {
	line-height: 1.3rem;
}


#hero p:first-child {
	font-size: 4rem;
	margin-bottom: 0;
}

#hero p:nth-child(2) {
	font-size: 3rem;
	margin-top: 0;
}
#hero p {
	color: #fff;
	font-weight: 100;
}

#hero b {
	font-weight: 700;
}

#logo p {
	color: #888888;
	margin-left: 2em;
}

#logo p span {
	color: #1b677b;
}

#works p {
	font-size: 1.07rem;
}


/*---BUTTONS---*/




/*---HEADER---*/




/*---NAVIGATION---*/


header nav li {
	display: inline-block;
	margin-left: 1em;
}

nav a {
	color: #fff;
	text-decoration: none;
	font: .8rem 'Open Sans', sans-serif;
}

nav a:hover {
	color: #1b677b;
}




/*-------------------------
7.0	UTILITIES
---------------------------*/


/*---ALIGNMENT---*/

.f-right {
	float: right;
}

.blk-ctr {
	float: none;
	margin: 0 auto;
}


/*---COLORS---*/

#bg-dk-grn {
	background-color: #10443f;
}

#features {
	background-color: #f4f7f9;
}

footer {
	background-color: #1ea78d;
}

#hero {
	background-color: #104f41;
}


/*---SIZE---*/


@media only screen and (max-width: 510px){
	
	html {
		font-size: 1.2rem;
	}
	
	h2 {
		font-size: 1.3rem;
	}
	
	h3 {
		font-size: 1.0rem;
	}
	
	nav {
		float: none;
	}
	

	#works, #features {
		padding: 4em 0;
	}
	
	.wrapper {
		width: 90%;
	}
	
	#hero p:first-child {
		font-size: 2rem;
	}
	
	#hero p:nth-child(2) {
		font-size: 1.2rem;
	}
	
	#hero p:last-child {
		font-size: .9rem;
	}
	
	#logo {
		margin: 0;
		text-align: center;
	}
	
	#features .col-sm-12:nth-child(2) {
		margin-left: 0;
	}
	
	#works p {
		font-size: .9rem;
	}
	
}

@media only screen and (min-width: 768px){
	
	html {
		font-size: 1rem;
	}
	
	h2 {
		font-size: 1.3rem;
	}
	
	h3 {
		font-size: 1.0rem;
	}
	
	
	.wrapper {
		width: 75%;
	}
	
	#hero p:first-child {
		font-size: 3rem
	}
	
	#hero p:nth-child(2) {
		font-size: 1.7rem;
	}
	
	#features .col-md-3:nth-child(2) {
		margin-left: 5.5em;
	}
	
	#works, #features {
	padding: 7em 0;
	}
	
	
}
	
@media only screen and (min-width: 1024px) {
	
}







